<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.happyhouse.dao.HouseInfoDAO">

	<sql id="base_colums">
		no, dong, AptName, code, buildYear, jibun, lat, lng, img
	</sql>
	
	<select id="totalCount">
		select count(no) from houseinfo
	</select>
	<select id="selectAll" parameterType="int"
		resultType="houseinfo">
		select * from houseinfo
	</select>
	
	<select id="searchByAptName" parameterType="string">
		select * from houseinfo where aptname LIKE CONCAT('%',#{search_value},'%')
	</select>

	<select id="searchByDong" parameterType="string" resultType="houseinfo">
		select * from houseinfo where dong LIKE CONCAT('%',#{dong},'%')
	</select>
	
	<select id="searchById" parameterType="int" resultType = "houseinfo">
		select * from houseinfo where no = #{no}
	</select>

	<select id="searchAllPage" resultType="houseinfo">
		select 
		<include refid="base_colums"/>
		from houseinfo
	</select>
	
	<select id="selectGugun" parameterType="string" resultType = "string">
		select distinct(city) from location where province= #{province} and city is not null;
	</select>
		<select id="selectDong" parameterType="string" resultType = "string">
		select distinct(town) from location where city=#{city} and town is not null;
	</select>
</mapper>